*{
	margin: 0;
	padding: 0;
	background-color: #2BD3EC;
}
.main{
	margin-top: 10%;
}
.top{
	margin: 0 auto;
}
.divimg{
	margin: 8rem auto 1rem;
	text-align: center;
}
.divcen{
	margin: 10% 15% 20% 10%;
	text-align: center;
}
.divbottom{
	margin: 8rem auto;
	text-align: center;
}
.img1{
	float: left;
	margin-left: 15%;
}
.img2{
	margin-left: 60%;
}
span{
	color: white;
	font-size: 0.75em;
	font-weight: bold;
}